.UserList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
    padding-top: 80px;
    padding-bottom: 64px;
    background: var(--text-dark);
    gap: 52px;

    &__cardList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
