.Home {
    text-align: center;

    &__resultContainer {
        margin-top: 64px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: var(--text-dark);
    }
}
