.Select {
    font-size: 24px;
    padding: 17px 24px;
    background: var(--background-light);
    border-radius: 8px;
    position: relative;
    &:first-child {
        margin-right: 40px;
    }
    &:hover {
        cursor: pointer;
    }
    &__label {
        color: var(--cta);
        margin-left: 8px;
        font-size: 18px;
        font-weight: bold;
    }

    &__value {
        color: var(--text-dark);
        font-size: 18px;
        font-weight: bold;
    }

    &__selectedOption {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        background: var(--background-light);
        border-radius: 8px;
    }

    &__option {
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        list-style-type: none;
        font-size: 18px;
        font-weight: bold;
        border-radius: 8px;
        &:hover {
            background: var(--cta);
        }
    }
}
