.DetailedEpisode {
    display: flex;
    flex-direction: column;
    gap: 24px;

    background: var(--text-dark);
    padding: 24px 120px 70px 120px;

    &__navigationContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 40px 40px 148px 40px;
        background: var(--text-dark-overlayed);
        border-radius: 12px;
    }

    &__episodeLogoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 282px;
        height: 282px;

        background: var(--light-gray);
        border-radius: 12px;
    }

    &__episodeLogoName {
        color: white;
        font-size: 56px;
        text-align: center;
    }

    &__infoContainer {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    &__heading {
        color: white;
        font-size: 56px;
        margin: 0;
    }

    &__mainInfo {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 277px;
        flex-wrap: wrap;
    }

    &__descriptionContainer {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__link {
        text-decoration: none;
    }

    &__homeLabel {
        color: var(--app-blue);
    }

    &__charactersContainer {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}
