.Card {
    width: 282px;
    height: 502px;
    border-radius: 12px;
    background-color: #2a2a42;
    margin: 12px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 16px;
    }

    &__name {
        color: white;
        font-size: 24px;
        margin: 8px 0 8px 0;
        text-align: left;
    }

    &__tags {
        display: flex;
        justify-content: left;
        gap: 8px;
    }

    &__image {
        width: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
}
