.Header {
    height: 120px;
    // background-color: antiquewhite;
    display: flex;
    align-items: center;

    &__search {
        height: 2px;
    }

    &__logo {
        height: 56px;
        width: 190px;
        padding-left: 120px;
    }
}
