.DetailedCharacter {
    &__imageContainer {
        display: inline-block;
        margin: 0 48px 0 120px;
        height: 470px;
        vertical-align: top;
    }

    &__image {
        border-radius: 12px;
    }

    &__description {
        display: inline-block;
        margin-right: 48px;
        height: 470px;
    }

    &__heading {
        font-size: 56px;
        margin: 0;
    }

    &__mainInfo {
        display: inline-block;
        margin-right: 20px;
    }

    &__episodes {
        display: inline-block;
        vertical-align: top;
    }

    &__tagsContainer {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 16px 0 33px 0;
    }
}
