.DetailedCharacter {
    background: var(--text-dark);
    padding: 70px 120px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 40px 40px;
        background: var(--text-dark-overlayed);
        border-radius: 12px;
    }

    &__imageContainer {
        width: 23.5%;
        height: 23.5%;
    }

    &__image {
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }

    &__infoContainer {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    &__heading {
        color: white;
        font-size: 56px;
        margin: 0;
    }

    &__tagsContainer {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 16px 0 33px 0;
    }

    &__mainInfo {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 16px;
    }

    &__episodesContainer {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}
